body{
  font-family: "Open Sans", "Helvetica", sans-serif;
  background-color: $c-body_bg;
  color: $c-text;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 54em;
  margin: 0 auto;
  margin-bottom: 1em;
}
