.nav {
  background-color: $c-nav_bg;
  display: block;
  text-align: center;
  padding: 0;

  .link {
    transition: all 1s;
    color: $c-dark;
    padding: 1em 1.5em;
    display: inline-block;
    &:hover {
      color: lighten($c-dark, 30%);
    }
  }
}
