.text {
  padding: 0;
  margin: 0.25em;
}

.site-title {
  font-size: 2.5em;
  padding: 0.25em;
  margin: 0;
}

.intro-text {
  font-size: 1.05em;
  padding: 0.5em;
}

.stuff {
  font-style: italic;
  padding: 0 0.25em;
}

.heading_sub {
  font-size: 1em;
  margin: 0.4em 0;
  border-bottom: 1px solid darken($c-gray, 20%);
}

.list-post--title {
  float: left;
}
.list-post--date {
  float: right;
  font-size: 0.75em;
  color: #777;
}
