#latesttweet {
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .timePosted {
    font-size: 0.8em;
    color: #555;
  }
  .user {
    display: none;
  }
  .interact {
    display: none;
  }
  p {
   margin: 0.25em 0;
  }
}

.instafeed {
  a {
    margin-right: 0.5%;
  }
  img {
    max-width: 21%;
    margin-right: 1%;
    border: 1px solid #444;
  }
}
