.about-block
  .wrapper
    .block
      .pure-u-1.pure-u-md-1-2.about
        h2 There is more to love:
        :markdown
          Feel free to drop me a line on twitter [@SimpsonPatrick](http://twitter.com). 
          I don't mind being heckled and the ocassional banter.
        :markdown
          Don't forget, you can read more interesting facts [about me](/about).
        h3 Thanks!
      .pure-u-1.pure-u-md-1-2.face-wrapper
        img.face(src="/assets/me2.jpg" alt="My Face" title="My Face")
