.wrapper
  .block
    .post
      h1.post--title #{ title }
      span.post--meta #{ date }
      div.post--content
        include meta/happy-birthday-two-years-old.html

!=partial('../_about-me-footer')
