doctype
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/styles/pure-min.css")
    link(rel="stylesheet" href="/styles/grids-responsive-min.css")
    link(rel="stylesheet" href="/styles/main.css")
  body
    div.header
      a.site-link(href="/")
        h1.site-title Patrick Simpson
        div.intro-text A software developer from Dayton, Ohio
    div.nav
      a.link.active(href="/") Home
      a.link(href="/posts") Posts
      a.link(href="/projects") Projects
      a.link(href="/talking") Talking
      a.link(href="/about") About
    div.content
      != yield
    footer.footer Developed with purpose, 2014

  script(src="/scripts/vendors/bower_components/instafeed.min/index.js")
  script(src="/scripts/vendors/bower_components/jquery/dist/jquery.min.js")
  script(src="/scripts/vendors/bower_components/twitterFetcher_min/index.js")
  script(src="/scripts/vendors/bower_components/moment/moment.js")
  script(src="/scripts/app.js")
