.wrapper
  - var posts = [];for(t in public.posts._data) { if(t != 'index'){posts.push(t)} };posts.reverse()
  .block
    .post
      h1.post--title #{ title }
      span.post--meta.post--date #{ date }
      div.post--content
        include %BODY%

!=partial('../_about-me-footer')
