.wrapper
  div.block
    h2.block-title About
  .pure-u-1.pure-u-md-1-4
    .block-inner
      img.big-face(src="/assets/imgs/patrick_abbey.jpg")
  .pure-u-1.pure-u-md-3-4
    .block-inner
      h3.block--sub-title Hi, I'm Patrick
      :markdown
        I'm married to the love of my life and blessed with three children.
      :markdown
        I drink coffee and I love my areopress. I play some mean ping-pong, sometimes I lose.
      :markdown
        I'm a three-quarter stack developer, aspiring full stack developer.
        I make lines at [Sparkbox](http://seesparkbox.com).
        I'm dedicated to my job, learning, and sharing.
  .pure-u-1.pure-u-md-1-4
    .block
      img.big-face(src="/assets/imgs/family.jpg")
  .pure-u-1.pure-u-md-3-4
    .block
      h3.block--sub-title Principles
      :markdown
        Have the right attitude, it will make all the difference in the world.
        You're not perfect. You're not always right, but don't be afraid to be wrong.
        Strive to learn and better youself daily. If you fall, get back up and try again.
        Don't avoid challenges, big or small. Don't take the easy way out.
  .block
    h3.heading_sub Contact
    p
      span Email: 
      a(href="mailto:patrick@patricksimpson.me") patrick@patricksimpson.me
    p
      span Twitter: 
      a(href="https://twitter.com/SimpsonPatrick") @SimpsonPatrick
    p
      span Github: 
      a(href="https://github.com/patricksimpson") patricksimpson

    h3.heading_sub Instagram Feed
    #instafeed.instafeed
