.wrapper
  div.pure-g.grid
    div.pure-u-1.pure-u-sm-1-2.col
      div#write.block
        h2.block-title Latest Posts
        - var count = 4, posts = [];
        - var a = [];for(t in public.posts._data) { if(t != 'index'){a.push(t);} };a.reverse()
        - for(n=0;n < count;n++){ posts.push(a[n]);}
        ul.list
          for post in posts
            li.list--item
              a.list--link(href="/posts/#{ post }")
                span.list-post--title= public.posts._data[post].title
                span.list--meta.list-post--date= public.posts._data[post].date

    div.pure-u-1.pure-u-sm-1-2.col
      div#talk.block.block_with-list
        h2.block-title Talks
        ul.talk-block.list
          li.list--item
            a.list--link(href="https://speakerdeck.com/patricksimpson/coffeescript-with-patrick-simpson")
              span CoffeeScript, 2014
          li.list--item
            a.list--link(href="https://speakerdeck.com/patricksimpson/responsible-web-development-by-patrick-simpson")
              span Responsible Web Development, 2013

        h2.block-title Twitter
        div#latesttweet
          span Failed to load twitter data.
!=partial('_about-me-footer')
