.wrapper
  .block
    h2.block-title Talking

    h3.header_sub Static Site Generators
    p Coming soon, 2015.

    h3 CoffeeScript
    p 2014, Gem City JS.
    p A talk about coffeescript.

    h3 Responsible Web Development
    p 2013, Elsevier UCD

!=partial('_about-me-footer')
