.wrapper
  .block
    h2.block-title Works
    .block-project
      h3 Lists
      :markdown
        Lists is a quick project to enable sharing of, well, lists!
        Easy to use, easy to setup and use for yourself.
      div Coming soon.

    .block-project
      h3 Harp Gulp BrowserSync Blog Engine
      :markdown
        This very blog engine. You could blog or HuG BearS.
      div
        a(href="/posts/my-new-blog-engine") Read more
      div Coming soon.

    .block-project
      h3 Add Hosts
      :markdown
        A shell script to quickly add a host to your local development enviornment.
      div
        a(href="/posts/my-new-blog-engine") Read more about shell scripting
      div
        a(href="https://github.com/patricksimpson/addhost") https://github.com/patricksimpson/addhost

    .block-project
      h3 The Table
      :markdown
        The Table is a project for the people, by the person?
        For all those desiring to keep their ping pong records, and scores... this may be the thing.
        This was my first Ember.js project. It was a learning project. Eek!
      div
        a(href="https://github.com/patricksimpson/table") https://github.com/patricksimpson/table

    .block-project
      h3 WebLogo
      :markdown
        This was done as a final project school project. This was an implimentation of the logo language
        in JavaScript. This was my first real stab at prototypical inheiritence.

      div
        a(href="https://github.com/patricksimpson/weblogo") https://github.com/patricksimpson/weblogo
!=partial('_about-me-footer')
